

h1{
    margin:50px auto;
    width: max-content;

}

#formTask{

    width: 500px;
    display: flex;
    margin: auto;
}

#formTask > input {
    margin-right: 30px;
}
#formTask > button {
    margin-left: 30px;
}




section {
    margin: 40px 0;
    width: 100%;
}

section > ul {
    width: max-content;
    margin: auto;
}